body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.main {
  background-color: rgb(241, 246, 246);
  width: 350px;
  height: 600px;
  border-radius: 20px;
}

.first {
  color: black;
  border-bottom: 1px solid black;
  text-align: center;
  padding-top: 10px;
}
.how{
  font-weight: bold;
  color:rgba(0, 78, 122, 0.719)
}
.secound{
  padding-left: 30px; 
  padding-bottom: 15px;
}
.month {
  font-size: 10px;
}
.rice{
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button{
  margin-top: 30px;
  width: 320px;
  height: 50px;
  border-radius: 30px;
  margin-left: -15px;
  background-color: rgba(55, 11, 211, 0.562);
  border: antiquewhite;
  font-weight: bold;
  color: white;
}
.price {
  font-size: 30px;
  margin: 0;
}
.container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
  justify-items: center;
  gap: 30px;
}

.button:hover {
  background-color: #33AEFF;
}
.month{
  font-size: 15px;
}
p{
  padding: 3px;
  font-weight: bold;
}
